body {
	margin: 0px;
	padding: 0px;
	background: url('img/background.png');
}

#wrapper {
	width: 500px;
	margin: 20px auto;
	font-family: 'Crete Round', serif;
}

#header {
}
	#header iframe {
		margin: 25px 20px 0px 0px;
		float: right;
	}

.right {
	float: right;
}

a {
	color: #598cc9;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

